---
layout: html_page
title: "Music and Sets"
permalink: /music/
subtitle: Recordings of Lewaa's DJ sets and beginings in music production.
---

<p>
  My name is Lewaa Bahmad and I am a DJ and music producer who champions and facilitates full self-expression through music, dance, and community. As the ultimate dance commander, I am on a sacred mission of sonic dope peddling. I do this because I believe every person on my dancefloor is a hero - my sets are mythic soundtracks to their journeys calling them to discover and revel in their own glory.
</p>
<p>
  At the end of my sets, my dancers stand proud with crowns of gold sweat adorning their brows. Their triumph is the reclamation of rightful thrones in their own center of the universe. Looking around, they recognize their peers - a pantheon of gods.
</p>
<!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
  <a class="btn btn-lg btn-light fw-bold border-white bg-white" type="button">Let's Talk</a>
  Download EPK
</div> -->


<h3>Demo my Sound:</h3>
<div>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1436246089&color=%23ffef00&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
  <div
    style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
    <a href="https://soundcloud.com/lee-waa" title="LEE WAA" target="_blank"
      style="color: #cccccc; text-decoration: none;">LEE WAA</a> · <a href="https://soundcloud.com/lee-waa/babel"
      title="You Finally Make it to BABEL for a Party but God Smites it and Everyone Has to Reconstruct Language"
      target="_blank" style="color: #cccccc; text-decoration: none;">You Finally Make it to BABEL for a Party but God
      Smites it and Everyone Has to Reconstruct Language</a>
  </div>
</div>

{% for post in site.poetry reversed %}
{% include post-entry.html %}
{% endfor %}
