p, a {
  font-family: Helvetica;
  color: #3d3d3d;
}

a {
  text-decoration: none;
  font-weight: bold;
}

#content-container {
  display: block;
  margin: 0 auto;
  max-width: 1050px;
  width: 100%;
}

.clear-div {
  clear: both;
}
